<br>  

<div class="container">


    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>My Listings</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <% @listings.each do |listing| %>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag listing.image.url %>
                    <div class="caption">
                        <h3><%= listing.title %></h3>
                        <p><%= listing.description %></p>
                        <p>
                            <a href=<%= listing_path(listing) %> class="btn btn-default">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
    <!-- /.row -->

</div>